* {
  text-align: center;
}

.download-button {
  color: #EEE;
  background-color: #21E;
  font-size: 20px;
  border-thickness: 5px;
  border-color: #1008E0;
  border-radius: 20px;
  width: 300px;
  height: 100px;
  padding: 50px;
  margin: 7px;
  position: relative;
  top: 50px;
}

#titleheader {
  color: red;
}
